/* vanilla-extract-css-ns:src/lib/icon/icon.css.ts.vanilla.css?source=LnRiX18xeG0zcWNnMCB7CiAgZGlzcGxheTogaW5saW5lLWJsb2NrOwogIHdpZHRoOiAyMHB4OwogIGhlaWdodDogMjBweDsKfQ== */
.tb__1xm3qcg0 {
  display: inline-block !important;
  width: 20px !important;
  height: 20px !important;
}

/* vanilla-extract-css-ns:src/lib/fake-input/fake-input.css.ts.vanilla.css?source=#H4sIAAAAAAAAE61UzW7bMAy+5yl4GdACVZF07bqol75JQFu0TUSRDEr56Ya++yDFdtI0XtJhN4umvh+S4uuS3irBFQWIxWLxFv18JzP4PQGoxK/yB0CB5bIWv3ZGg2VHKKoWNEwu3synhuo72KDcKBULFWkXVemtF2VQlrcwa3d3EAVdaFHIxRS4fZkAvE8Aor+e4gRjDPR98nrO1MP/NzX8xrIk1ydYrpt4+88uL4FeTfs+uY/FIimvmKzpyvA9K0nXFw2lK118quHhsd2lq1s2sdEwm06/pWPhdyrwL3a1hsKLIVGFz4mtDxzZOw1CFiNvKEWTL7XH1oPWE7IssfIuJmQ6pKkhpixKTTnvuGhD4iH4wX/K9xuSyvqthoaNIffyqRQLdo6kE/OYK1KuJXjRkJLOFKH3059POQDX0Y8RKRXY1ZZUKk3H+pRZexi10x0CwLbhSCq0WJIG57eCbQqHUry1BYrqpDnv6EuMWqstFUuOasDKIgyH1uLbJcTV2kY+wvuRL7doDLtayb4+3QiNz8wHd4UQLveHcIa4bLBv0vOe7OzA5f7r8cd6AVnrQJbKhJtJjsftaMOMoKgtx0aVKNQP98+Mgo5XuNd6vFin989PoXv6wK5ix/FczQ/Qg7gOY34iUp3aP7MVLmtX6MwnKhx38nC1k9ZiSY23ZnhwxUkvsQjermPuJbtAUcN0v17YRRJFG3Ix9OP5134flsDIK8q5h8dL1nIbOIysjT+cdvZ0HgcAAA== */
@keyframes tb__yto9xr1 {
  from {
    background: linear-gradient(90deg, var(--tb-text-color-dark) 1px, transparent 1px) !important;
  }
  to {
    background: linear-gradient(90deg, transparent 1px, transparent 1px) !important;
  }
}
@keyframes tb__yto9xr2 {
  from {
    background: linear-gradient(90deg, var(--tb-text-color-dark) 1px, var(--tb-accent-color-light) 1px) !important;
  }
  to {
    background: linear-gradient(90deg, var(--tb-accent-color-light) 1px, var(--tb-accent-color-light) 1px) !important;
  }
}
.tb_textfield_yto9xr3 {
  --tb_height_yto9xr0: 24px;
  width: 100% !important;
  box-sizing: border-box !important;
  position: relative !important;
  line-height: var(--tb_height_yto9xr0) !important;
  font-size: var(--tb-font-size-large) !important;
  background: var(--tb-background-color-light) !important;
  overflow: hidden !important;
}

.tb_textfield__inner_yto9xr4 {
  cursor: text !important;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden auto !important;
}

.tb_textfield__inner--single-line_yto9xr5 {
  overflow-x: auto !important;
  white-space: nowrap !important;
  scrollbar-width: none !important;
}

.tb_textfield__inner--single-line_yto9xr5::-webkit-scrollbar {
  display: none !important;
}

.tb_textfield__inner--multiline_yto9xr6 {
  padding-right: 4px !important;
  box-sizing: border-box !important;
  white-space: break-spaces !important;
}

.tb_textfield__char_yto9xr7 {
  position: relative !important;
  color: var(--tb-text-color-dark) !important;
}

.tb_textfield__char_yto9xr7::selection {
  background: transparent !important;
}

.tb_textfield__char-with-caret_yto9xr8 {
  animation: tb__yto9xr1 0.75s linear infinite !important;
}

.tb_textfield__char-with-selection_yto9xr9 {
  background-color: var(--tb-accent-color-light) !important;
}

.tb_textfield__char-with-caret-and-selection_yto9xra {
  animation: tb__yto9xr2 0.75s linear infinite !important;
}

.tb_textfield__placeholder_yto9xrb {
  position: absolute !important;
  inset: 0 !important;
  pointer-events: none !important;
  color: var(--tb-text-color-light) !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

/* vanilla-extract-css-ns:src/lib/content-info/content-info-provider.css.ts.vanilla.css?source=#H4sIAAAAAAAAE5VT227bMAx9z1fwpUACTIO9tmmhvvRPAtmiY66yJEh0Lh3674MUOQ1WZ8sAwwIPqEOeQ+r1DY9dUANG4GYTHCvGTe2fd9o/VvBrAVDd5QOAg7Kxc2GQcMpbVhq3q5cFwMcCoK7+knm/vsj9WHznZtM6y2hZkO2cED1pjXaqXGeixgWNQUKVrrWGvISALS+rb1C+TNgjbXuWUPtDCvekuT9HgwpbshJEid0OQ2fcXsKpYsK80prsthTyLhKTsxJUE50ZGTNrT4wietWiBOv2QfmXGSGbjXEqkU1KfmQlrTMuSNipsBSCG8F4YJFBMaCmcchClKVBnUrPzKKOYMiiCkC2I0upr7kG8r/cupfW8fKfbq9yk2cfq+ru0zphsGMJz5d2inDKLKCm6I06SugMZiCdQlMaVlbTOjMO2eqfY2TqjqK0I6FFyxiyekNbK4hxiJdw5yyLTg1kjhLI9hiIE54tzHc+s+fsaEZmd5b6kJV+abjIYucl1OuTqvNWPPjDpLQdQ0yD9I6m/m4b7TUVGd8X45+q6iYNsk9bPLtYqk1elPpahbfVPGOJJsrH/9mTL+5NL67szZ97dG0b5vpK7k3l1jc/nWtMQuDgexXpHfXE+pRZZ3z/DchlEEgKBQAA */
@keyframes tb_rotate_1p8vdp50 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.tb_content-info--hidden_1p8vdp51 {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
}

.tb_content-info__loading_1p8vdp52 {
  color: var(--tb-text-color-medium) !important;
  animation: tb_rotate_1p8vdp50 1s linear infinite !important;
}

.tb_content-info__info_1p8vdp53:not(.tb_content-info--hidden_1p8vdp51) {
  height: 100% !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  font-family: inherit !important;
  text-align: center !important;
}

.tb_content-info__button_1p8vdp54 {
  display: flex !important;
  margin-top: 16px !important;
  padding: 4px 8px !important;
  cursor: pointer !important;
  color: var(--tb-text-color-medium) !important;
  font-family: inherit !important;
  font-weight: 700 !important;
}

.tb_content-info__button_1p8vdp54:hover {
  color: var(--tb-accent-color-dark) !important;
}

.tb_content-info__content_1p8vdp55:not(.tb_content-info--hidden_1p8vdp51) {
  display: flex !important;
  width: 100% !important;
  height: 100% !important;
  flex-direction: column !important;
}

.tb_content-info__text_1p8vdp56 {
  color: var(--tb-text-color-medium) !important;
}

.tb_content-info__text--emphasized_1p8vdp57 {
  font-weight: 700 !important;
}

/* vanilla-extract-css-ns:src/lib/hot-key-label/hot-key-label.css.ts.vanilla.css?source=#H4sIAAAAAAAAE91YbW/aMBD+zq+wWk0q0twFSt+CKm0fyp+YqsqxD+Lh2JHtlLKJ/z4lISEFE0IzCt03cO4eP747P3fJpQ2eQ2XxFOZYkADEc0+I2T2deuhPByHGTSzI3EdjAa/DDkJE8InE3EJkfERBWtDp8q/EWD6eY6qkBWl9ZGJCAQdgZwAytYgJY1xOfHQXZ0ATEpe/A6UZaBwoa1Xko178iowSnKEXoi8wtgFeWlAllO6mLjTRRmkfxYoXHMZKWmz4b/BXfuUaFkRPoFvazYBPQuujG89L1wSXgMPlGiWCXvQH6JsL54WIpEDLmaScKltaeLU5UcyInmY2VhNpuOVK+rk96nteZBAQA5hLrBL7FQWETidaJZLhLTbDzqJzuTVhviDGYhpywbLcrUVVKgk7AEL1Ajr3XeNSOd/6IxwB40nUTbH9WQgaLn4yYkkeNpoYHCkGD2exVhGXIO3ZUxfVkHBBGGBP3b2JleFftyQ0rdy3VnlgChq9bLMZZzb0Uc/zvgzbXIbUHhtLtH1b+a5kPC+9MKYqipQsGPUzRruLrUGC227qDl/j3C8Nt9N05f4wnOtQGZET0AXqVRX1/HHUv7v2Wge7bgvm9e4HveMGthm/OgSTUArGFBCDNxDe6Mfo9qp1FOv3uLv3rtlxw9iQYFV/rqv6M/DyNrmhP7muhJrLqY88p/SsVCmTnUGO1LRVOtpiv2FbXHYfTRhPjL/RyfP1Ve8oHKrdP+uaMdEgM91MC2Es1MxHIWcsnyoO2lifI7Ak+78mMTe7tLh6rFadtHUR7ncEl0rWHuGNg0jr5Di9oP6Y1emxaR+rkSSprGs+yaXq/Vk4H4/H+4R7nbGDlyPk74r5sY9WMsofGxpCBA9nqVmjKjqVlG2/IbUH+48yu4rAHjveOocv16bno9Hj46j/EQrahtTxhfHWIYyVsfYjb9Rts3raZHda12L/YzjAzTwKVEnsLoOsH9Yqo8a+09rSNfNNDGhsQAC1q08F/6oIXacqh9nt3yXKUBcIGFOrS5z7BtF5xSYiQrwrPIXvrq88G6J+kFtTF4MlOS5D0Ny2YuLkkM/bOJECjCmNCyyScXjhhgdccDtfzecNk5q9ohRoQYYWET3hMn8Z8Iab5XLggm3Ece11bNH5nl4ogi6qvdxH2SyTOXz8mLKhR4sVjdNSz918T24GbE/2s6XgA8eBz1O5W/ku/gJjvmB8XBkAAA== */
.tb_hot-key-label_1llw9ck0 {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 8px !important;
  gap: 8px !important;
  border-bottom: 1px solid var(--tb-border-color) !important;
  cursor: pointer !important;
  font-size: var(--tb-font-size-large) !important;
  font-weight: 600 !important;
  line-height: calc(24 / var(--tb-font-size-value-large)) !important;
  color: var(--tb-text-color-dark) !important;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out !important;
}

.tb_hot-key-label_1llw9ck0:last-child {
  border-bottom: none !important;
}

.tb_hot-key-label_1llw9ck0:hover {
  background-color: var(--tb-background-color-medium) !important;
}

:where([data-tb-focus-mode=prominent]) .tb_hot-key-label_1llw9ck0:where([data-tb-focussed]) {
  background-color: var(--tb-background-color-dark) !important;
  color: var(--tb-accent-color-dark) !important;
}

.tb__1llw9ck1 {
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  gap: 8px !important;
}

.tb_hot-key-label__content--common_1llw9ck2 {
  color: var(--tb-text-color-dark) !important;
}

.tb_hot-key-label_1llw9ck0:hover .tb_hot-key-label__content--common_1llw9ck2 {
  color: var(--tb-accent-color-dark) !important;
}

:where([data-tb-focus-mode=prominent]) :where(.tb_hot-key-label_1llw9ck0[data-tb-focussed]) .tb_hot-key-label__content--common_1llw9ck2 {
  color: var(--tb-accent-color-dark) !important;
}

.tb_hot-key-label__content--danger_1llw9ck3 {
  color: #EF2850 !important;
}

.tb_hot-key-label_1llw9ck0:hover .tb_hot-key-label__content--danger_1llw9ck3 {
  color: #d01941 !important;
}

:where([data-tb-focus-mode=prominent]) :where(.tb_hot-key-label_1llw9ck0[data-tb-focussed]) .tb_hot-key-label__content--danger_1llw9ck3 {
  color: #d01941 !important;
}

.tb_hot-key-label__content--success_1llw9ck4 {
  color: #0FAF73 !important;
}

.tb_hot-key-label_1llw9ck0:hover .tb_hot-key-label__content--success_1llw9ck4 {
  color: #08905d !important;
}

:where([data-tb-focus-mode=prominent]) :where(.tb_hot-key-label_1llw9ck0[data-tb-focussed]) .tb_hot-key-label__content--success_1llw9ck4 {
  color: #08905d !important;
}

.tb__1llw9ck5 {
  width: 40px !important;
  display: flex !important;
  flex-shrink: 0 !important;
  justify-content: center !important;
  gap: 4px !important;
  font-size: var(--tb-font-size-large) !important;
  line-height: calc(22 / var(--tb-font-size-value-large)) !important;
  border-radius: var(--tb-border-radius-medium) !important;
  border: 1px solid transparent !important;
  overflow: hidden !important;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out !important;
}

.tb_hot-key-label__meta-key--common_1llw9ck6 {
  color: var(--tb-text-color-medium) !important;
  background-color: var(--tb-background-color-medium) !important;
}

:where(.tb_hot-key-label_1llw9ck0[data-tb-focussed]) .tb_hot-key-label__meta-key--common_1llw9ck6 {
  color: var(--tb-accent-color-dark) !important;
  background-color: var(--tb-accent-color-light) !important;
}

:where([data-tb-focus-mode=prominent]) :where(.tb_hot-key-label_1llw9ck0[data-tb-focussed]) .tb_hot-key-label__meta-key--common_1llw9ck6 {
  border-color: var(--tb-accent-color-dark) !important;
}

:where(.tb_hot-key-label_1llw9ck0:not([data-tb-focussed]):hover) .tb_hot-key-label__meta-key--common_1llw9ck6 {
  color: #fff !important;
  background-color: var(--tb-accent-color-dark) !important;
}

:where(:not([data-tb-focus-mode=prominent])) :where(.tb_hot-key-label_1llw9ck0[data-tb-focussed]:hover) .tb_hot-key-label__meta-key--common_1llw9ck6 {
  color: #fff !important;
  background-color: var(--tb-accent-color-dark) !important;
}

:where([data-tb-color-scheme=dark]) :where(.tb_hot-key-label_1llw9ck0:not([data-tb-focussed]):hover) .tb_hot-key-label__meta-key--common_1llw9ck6 {
  color: #fff !important;
  background-color: var(--tb-accent-color-light) !important;
}

:where([data-tb-color-scheme=dark]) :where(:not([data-tb-focus-mode=prominent])) :where(.tb_hot-key-label_1llw9ck0[data-tb-focussed]:hover) .tb_hot-key-label__meta-key--common_1llw9ck6 {
  color: #fff !important;
  background-color: var(--tb-accent-color-light) !important;
}

.tb_hot-key-label__meta-key--common_1llw9ck7 {
  color: #EF2850 !important;
  background-color: #FFEEF2 !important;
}

:where(.tb_hot-key-label_1llw9ck0[data-tb-focussed]) .tb_hot-key-label__meta-key--common_1llw9ck7 {
  color: #EF2850 !important;
  background-color: #FFEEF2 !important;
}

:where([data-tb-focus-mode=prominent]) :where(.tb_hot-key-label_1llw9ck0[data-tb-focussed]) .tb_hot-key-label__meta-key--common_1llw9ck7 {
  border-color: #EF2850 !important;
}

:where(.tb_hot-key-label_1llw9ck0:not([data-tb-focussed]):hover) .tb_hot-key-label__meta-key--common_1llw9ck7 {
  color: #fff !important;
  background-color: #EF2850 !important;
}

:where(:not([data-tb-focus-mode=prominent])) :where(.tb_hot-key-label_1llw9ck0[data-tb-focussed]:hover) .tb_hot-key-label__meta-key--common_1llw9ck7 {
  color: #fff !important;
  background-color: #EF2850 !important;
}

.tb_hot-key-label__symbol_1llw9ck8 {
  font-size: var(--tb-font-size-medium) !important;
  line-height: calc(22 / var(--tb-font-size-value-medium)) !important;
  user-select: none !important;
}

:where(.tb_hot-key-label_1llw9ck0[data-tb-focussed]) .tb_hot-key-label__symbol_1llw9ck8 {
  display: none !important;
}

.tb_hot-key-label__meta-key__symbol--ctrl_1llw9ck9 {
  font-size: var(--tb-font-size-x-small) !important;
  line-height: calc(22 / var(--tb-font-size-value-x-small)) !important;
  color: var(--tb-text-color-light) !important;
}

:where(.tb_hot-key-label_1llw9ck0:not([data-tb-focussed]):hover) .tb_hot-key-label__meta-key__symbol--ctrl_1llw9ck9 {
  color: inherit !important;
}

:where(.tb_hot-key-label_1llw9ck0:not([data-tb-focussed])) .tb_hot-key-label__hidden-unless-focussed_1llw9cka {
  visibility: hidden !important;
}

.tb_hot-key-label__meta-key__symbol--enter_1llw9ckb {
  margin: 1px 0 !important;
  display: none !important;
  user-select: none !important;
}

:where(.tb_hot-key-label_1llw9ck0[data-tb-focussed]) .tb_hot-key-label__meta-key__symbol--enter_1llw9ckb {
  display: flex !important;
}

@media (color-scheme: dark) {
  :where(.tb_hot-key-label_1llw9ck0:not([data-tb-focussed]):hover) .tb_hot-key-label__meta-key--common_1llw9ck6 {
    color: #fff !important;
  }
  :where(:not([data-tb-focus-mode=prominent])) :where(.tb_hot-key-label_1llw9ck0[data-tb-focussed]:hover) .tb_hot-key-label__meta-key--common_1llw9ck6 {
    color: #fff !important;
  }
  :where([data-tb-color-scheme=dark]) :where(.tb_hot-key-label_1llw9ck0:not([data-tb-focussed]):hover) .tb_hot-key-label__meta-key--common_1llw9ck6 {
    color: #fff !important;
  }
  :where([data-tb-color-scheme=dark]) :where(:not([data-tb-focus-mode=prominent])) :where(.tb_hot-key-label_1llw9ck0[data-tb-focussed]:hover) .tb_hot-key-label__meta-key--common_1llw9ck6 {
    color: #fff !important;
  }
  :where(.tb_hot-key-label_1llw9ck0:not([data-tb-focussed]):hover) .tb_hot-key-label__meta-key--common_1llw9ck7 {
    color: #fff !important;
  }
  :where(:not([data-tb-focus-mode=prominent])) :where(.tb_hot-key-label_1llw9ck0[data-tb-focussed]:hover) .tb_hot-key-label__meta-key--common_1llw9ck7 {
    color: #fff !important;
  }
}
._emojiListItemContentWrapper_wvt8i_1 {
  display: flex !important;
  flex-grow: 1 !important;
  justify-content: space-between !important;
}

._emojiContainer_wvt8i_7 {
  height: 32px !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

._emoji_wvt8i_1 {
  width: 28px !important;
  padding: 2px !important;
  margin: 0 2px 0 0 !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: var(--tb-border-radius-medium) !important;
  cursor: pointer !important;
  font-size: 24px !important;
  font-family: none !important;
  line-height: 1.1666666667 !important;
  user-select: none !important;
}

._emoji_wvt8i_1:where(:last-of-type) {
  margin-right: 0 !important;
}

:where([data-tb-hot-key]):has(._emoji_wvt8i_1:hover) {
  background-color: unset !important;
}

._emoji_wvt8i_1:hover {
  background-color: var(--tb-background-color-medium) !important;
}

._emojiContainerAction_wvt8i_37 {
  border-radius: var(--tb-border-radius-medium) !important;
  color: var(--tb-text-color-light) !important;
  align-self: center !important;
  white-space: nowrap !important;
  user-select: none !important;
}

._emojiContainerAction_wvt8i_37:hover {
  color: var(--tb-text-color-medium) !important;
}

._emojiCtaText_wvt8i_48 {
  font-size: var(--tb-font-size-medium) !important;
  font-weight: 400 !important;
}

._errorMessage_9iyfv_1 {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

._errorMessageCaption_9iyfv_9 {
  color: var(--tb-text-color-dark) !important;
  font-weight: 700 !important;
}

._listItem_85xk8_1._listItem_85xk8_1 {
  justify-content: space-between !important;
  line-height: calc(26 / var(--tb-font-size-value-large)) !important;
}

._listItem_85xk8_1:last-child {
  border-bottom: none !important;
}

._icon_85xk8_10 {
  color: var(--tb-text-color-medium) !important;
}

:where([data-tb-arrowindex]:not([data-tb-focussed]):hover) ._icon_85xk8_10, :where([data-tb-focussed]) ._icon_85xk8_10 {
  color: var(--tb-accent-color-dark) !important;
}

._listItemCaption_85xk8_17 {
  flex: 1 !important;
}

._search_i9kxb_1 {
  display: flex !important;
  height: 40px !important;
  margin-right: 8px !important;
  align-items: center !important;
  gap: 8px !important;
  color: var(--tb-text-color-light) !important;
}

._icon_i9kxb_10 {
  flex-shrink: 0 !important;
}

._caption_1a9nr_1 {
  margin: 4px 8px !important;
  color: var(--tb-text-color-medium) !important;
  font-size: var(--tb-font-size-small) !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
}

._inner_1a9nr_9 {
  max-height: calc(100% - 40px) !important;
  min-height: 0 !important;
  flex: 1 !important;
  overflow: hidden !important;
}

._inner_scrollable_1a9nr_16 {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

._inner_hidden_1a9nr_21 {
  display: none !important;
}

._noSearchResults_1a9nr_25 {
  display: flex !important;
  box-sizing: border-box !important;
  height: 100% !important;
  padding: 8px !important;
  align-items: center !important;
  justify-content: center !important;
  color: var(--tb-text-color-light) !important;
  font-size: var(--tb-font-size-medium) !important;
  text-align: center !important;
}

._footer_1a9nr_37 {
  display: flex !important;
  height: 40px !important;
  padding: 0 8px !important;
  border-top: 1px solid var(--tb-border-color) !important;
}

._footer_noSearch_1a9nr_44 {
  justify-content: space-between !important;
}

._search_1a9nr_48 {
  min-width: 0 !important;
  flex: 1 !important;
  overflow: hidden !important;
}

._exitButton_1a9nr_54,
._applyButton_1a9nr_55 {
  display: flex !important;
  align-items: center !important;
  cursor: pointer !important;
  transition: color 200ms ease-in-out !important;
}

._applyButtonDecoration_1a9nr_62,
._exitButtonDecoration_1a9nr_63 {
  display: flex !important;
  width: 38px !important;
  margin-left: 4px !important;
  justify-content: center !important;
  font-size: var(--tb-font-size-medium) !important;
  line-height: calc(22 / var(--tb-font-size-value-medium)) !important;
  border: 1px solid transparent !important;
  border-radius: var(--tb-border-radius-medium) !important;
  user-select: none !important;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out !important;
}

._exitButton_1a9nr_54 {
  color: var(--tb-text-color-light) !important;
}

._exitButton_1a9nr_54:hover {
  color: var(--tb-text-color-medium) !important;
}

._exitButtonDecoration_1a9nr_63 {
  color: var(--tb-text-color-medium) !important;
  background-color: var(--tb-background-color-medium) !important;
  font-weight: 600 !important;
}

:where(._exitButton_1a9nr_54:hover) ._exitButtonDecoration_1a9nr_63 {
  color: var(--tb-text-color-dark) !important;
  background-color: var(--tb-background-color-dark) !important;
}

._applyButton_1a9nr_55 {
  color: var(--tb-accent-color-medium) !important;
}

._applyButton_1a9nr_55[data-tb-focussed] {
  background-color: transparent !important;
}

._applyButtonDecoration_1a9nr_62 {
  padding: 1px 0 !important;
  background-color: var(--tb-accent-color-light) !important;
}

:where(._applyButton_1a9nr_55:hover) ._applyButtonDecoration_1a9nr_62 {
  color: #fff !important;
  background-color: var(--tb-accent-color-dark) !important;
}

:where([data-tb-color-scheme=dark]) ._applyButtonDecoration_1a9nr_62 {
  color: #fff !important;
}

:where([data-tb-color-scheme=dark]) :where(._applyButton_1a9nr_55:hover) ._applyButtonDecoration_1a9nr_62 {
  color: var(--tb-accent-color-light) !important;
}

:where([data-tb-focus-mode=prominent]) :where(._applyButton_1a9nr_55[data-tb-focussed]) ._applyButtonDecoration_1a9nr_62 {
  border-color: var(--tb-accent-color-dark) !important;
}

._applyButtonDecoration_withMeta_1a9nr_118::before {
  content: attr(data-tb-meta-key-symbol)/"" !important;
  font-size: var(--tb-font-size-x-small) !important;
  font-weight: 600 !important;
  line-height: calc(20 / var(--tb-font-size-value-x-small)) !important;
}

._applyButtonIcon_withMeta_1a9nr_125 {
  width: 12px !important;
  height: 12px !important;
  margin: 1px 0 0 1px !important;
}

._applyButton_isDisabled_1a9nr_131 {
  pointer-events: none !important;
  cursor: not-allowed !important;
  opacity: 0.5 !important;
}

._toolbox_1qpv8_1 {
  display: flex !important;
  flex-direction: column !important;
  flex: 1 !important;
  background-color: var(--tb-background-color-light) !important;
  border-radius: var(--tb-border-radius-medium) !important;
  overflow: hidden !important;
  font-family: var(--tb-font-family) !important;
}

:where(._toolbox_1qpv8_1) :where(tb-div) {
  display: block !important;
}

:where(._toolbox_1qpv8_1) :where(tb-span) {
  display: inline !important;
}

:where(._toolbox_1qpv8_1) :where(tb-div),
:where(._toolbox_1qpv8_1) :where(tb-span) {
  margin: 0 !important;
  padding: 0 !important;
  visibility: initial !important;
  font-family: inherit !important;
  color: inherit !important;
} /* vanilla-extract-css-ns:src/components/view.css.ts.vanilla.css?source=LnRiX19xaTFueGowIHsKICBmb250LWZhbWlseTogaW5oZXJpdDsKfQoudGJfX3FpMW54ajEgewogIHBhZGRpbmc6IDEwcHg7CiAgYm9yZGVyOiAxcHggZGFzaGVkIHZhcigtLXRiLWJvcmRlci1jb2xvcik7CiAgYm9yZGVyLXJhZGl1czogdmFyKC0tdGItYm9yZGVyLXJhZGl1cy1tZWRpdW0pOwogIGJhY2tncm91bmQ6IHZhcigtLXRiLWJhY2tncm91bmQtY29sb3ItbGlnaHQpOwogIGNvbG9yOiB2YXIoLS10Yi1hY2NlbnQtY29sb3ItbWVkaXVtKTsKICBjdXJzb3I6IHBvaW50ZXI7Cn0KLnRiX19xaTFueGoyIHsKICBvcGFjaXR5OiAwLjc7CiAgY3Vyc29yOiBub25lOwp9 */
.tb__qi1nxj0 {
  font-family: inherit !important;
}

.tb__qi1nxj1 {
  padding: 10px !important;
  border: 1px dashed var(--tb-border-color) !important;
  border-radius: var(--tb-border-radius-medium) !important;
  background: var(--tb-background-color-light) !important;
  color: var(--tb-accent-color-medium) !important;
  cursor: pointer !important;
}

.tb__qi1nxj2 {
  opacity: 0.7 !important;
  cursor: none !important;
}

/* vanilla-extract-css-ns:src/components/categories.component.css.ts.vanilla.css?source=#H4sIAAAAAAAAE51T7W6cMBD8f0+xShQpUeWI+2jacx4mMngB94xt2cvhS9V3r2xo7+AuqlL+AMsyMzvjfaby7W14l/J0KODnCqCy2noOR+EfGaOSEUZiucik8Ien19TT+5CanFWG0KeSs0GRsoaDRy1IHfF19Wv1fIHOW3tEf8lxX9d1+rcU1aHxtjeSLdlFVaH5w9+hVH33tABeZ8gzvyiD1T1hQvaqaYlDkVkske04VEJXj+uieIAvsHMxD/TOlJEYOez3+9uKhlaNkKX1Ej3zQqo+XCid1c9Sb5pV2shCK6QdOBQuwouLsEkPbOsi3Bf52m4Xg27yoJ3wjTJsmmzn4kfuA0gVnBYnDrXG3JbuTCqP1dRsh1QWWjWGKcIucEh+jyqvhM/UbEfbhZTKNExjfVYzWTHW1i5CsFrJK6uys8s0dxn2SvmnXZ+EcdgkTTOKr7cpfvSBVH1ilTWEhjgEJypkJdKAaC5EkHWfHuslcw5KUsshHb6b+VxJyIEFEp4WeN8yXvrMYT2bd8ogr20O9hzpDOE756Kmvws5Ed7dpZ9bHE/XZnm6/rVb+WXMvfi/zf4N5N0tr5AEAAA= */
.tb__wzddyk0 {
  color: var(--tb-text-color-dark) !important;
  cursor: pointer !important;
  position: relative !important;
}

.tb__wzddyk0:hover {
  color: #fff !important;
  background-color: var(--tb-accent-color-medium) !important;
}

.tb__wzddyk1 {
  position: absolute !important;
  right: 0 !important;
  bottom: calc(100% + 4px) !important;
  z-index: 999 !important;
  background-color: white !important;
  border-radius: var(--tb-border-radius-medium) !important;
  cursor: pointer !important;
  box-shadow: 0px 6px 20px -3px rgba(0, 0, 0, 0.2) !important;
}

.tb__wzddyk2 {
  margin-right: 4px !important;
  position: relative !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  cursor: pointer !important;
}

.tb__wzddyk3 {
  padding-left: 4px !important;
  border-left: 1px solid var(--tb-border-color) !important;
}

.tb__wzddyk4 {
  display: flex !important;
  border-radius: var(--tb-border-radius-medium) !important;
  padding: 2px !important;
}

.tb__wzddyk5 {
  display: flex !important;
  justify-content: space-between !important;
  border-top: 1px solid var(--tb-border-color) !important;
}

.tb__wzddyk6 {
  width: 100% !important;
  display: flex !important;
  justify-content: flex-start !important;
}

.tb__wzddyk7 {
  flex: 1 !important;
  padding: 4px !important;
  text-align: center !important;
}

.tb__wzddyk8::after {
  content: "" !important;
  height: 2px !important;
  position: absolute !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background-color: var(--tb-accent-color-medium) !important;
}

/* vanilla-extract-css-ns:src/components/skin-tones-menu.component.css.ts.vanilla.css?source=LnRiX18xcnZpZjh4MCB7CiAgZGlzcGxheTogZmxleDsKICBmbGV4LWRpcmVjdGlvbjogcm93OwogIHBhZGRpbmc6IDRweDsKICBnYXA6IDRweDsKfQoudGJfXzFydmlmOHgxIHsKICBwYWRkaW5nOiA0cHg7CiAgYm9yZGVyLXJhZGl1czogdmFyKC0tdGItYm9yZGVyLXJhZGl1cy1tZWRpdW0pOwp9Ci50Yl9fMXJ2aWY4eDE6aG92ZXIgewogIGJhY2tncm91bmQtY29sb3I6IHZhcigtLXRiLWFjY2VudC1jb2xvci1tZWRpdW0pOwp9 */
.tb__1rvif8x0 {
  display: flex !important;
  flex-direction: row !important;
  padding: 4px !important;
  gap: 4px !important;
}

.tb__1rvif8x1 {
  padding: 4px !important;
  border-radius: var(--tb-border-radius-medium) !important;
}

.tb__1rvif8x1:hover {
  background-color: var(--tb-accent-color-medium) !important;
}

/* vanilla-extract-css-ns:src/components/emojis-grid.component.css.ts.vanilla.css?source=LnRiX19zbmZ3MDkwIHsKICBkaXNwbGF5OiBncmlkOwogIGdyaWQtdGVtcGxhdGUtY29sdW1uczogcmVwZWF0KHZhcigtLXRiLWdyaWQtY29scyksIG1pbm1heCgzMnB4LCAxZnIpKTsKICBnYXA6IDhweDsKICBqdXN0aWZ5LWl0ZW1zOiBjZW50ZXI7Cn0KLnRiX19zbmZ3MDkxIHsKICBkaXNwbGF5OiBmbGV4OwogIGFsaWduLWl0ZW1zOiBjZW50ZXI7CiAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7CiAgcGFkZGluZzogMXB4OwogIG1hcmdpbjogMnB4OwogIGJvcmRlcjogMXB4IHNvbGlkIHRyYW5zcGFyZW50OwogIGJvcmRlci1yYWRpdXM6IHZhcigtLXRiLWJvcmRlci1yYWRpdXMtbWVkaXVtKTsKICB3aWR0aDogMjhweDsKICB0ZXh0LWFsaWduOiBjZW50ZXI7CiAgZm9udC1mYW1pbHk6IG5vbmU7CiAgZm9udC1zaXplOiAyNHB4OwogIGxpbmUtaGVpZ2h0OiAxLjE2NjY2NjY2NjY2NjY2Njc7CiAgdXNlci1zZWxlY3Q6IG5vbmU7CiAgb3ZlcmZsb3c6IGhpZGRlbjsKfQoudGJfX3NuZncwOTE6aG92ZXIgewogIGJhY2tncm91bmQtY29sb3I6IHZhcigtLXRiLWJhY2tncm91bmQtY29sb3ItbWVkaXVtKTsKICBib3JkZXItY29sb3I6IHZhcigtLXRiLWJhY2tncm91bmQtY29sb3ItbWVkaXVtKTsKfQoudGJfX3NuZncwOTAgLnRiX19zbmZ3MDkxIHsKICBjdXJzb3I6IHBvaW50ZXI7Cn0KLnRiX19zbmZ3MDkxOndoZXJlKFtkYXRhLXRiLWZvY3Vzc2VkXSkgewogIGJhY2tncm91bmQtY29sb3I6IHZhcigtLXRiLWFjY2VudC1jb2xvci1saWdodCk7Cn0KOndoZXJlKFtkYXRhLXRiLWZvY3VzLW1vZGU9InByb21pbmVudCJdKSAudGJfX3NuZncwOTE6d2hlcmUoW2RhdGEtdGItZm9jdXNzZWRdKSB7CiAgYm9yZGVyLWNvbG9yOiB2YXIoLS10Yi1hY2NlbnQtY29sb3ItZGFyayk7Cn0= */
.tb__snfw090 {
  display: grid !important;
  grid-template-columns: repeat(var(--tb-grid-cols), minmax(32px, 1fr)) !important;
  gap: 8px !important;
  justify-items: center !important;
}

.tb__snfw091 {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 1px !important;
  margin: 2px !important;
  border: 1px solid transparent !important;
  border-radius: var(--tb-border-radius-medium) !important;
  width: 28px !important;
  text-align: center !important;
  font-family: none !important;
  font-size: 24px !important;
  line-height: 1.1666666667 !important;
  user-select: none !important;
  overflow: hidden !important;
}

.tb__snfw091:hover {
  background-color: var(--tb-background-color-medium) !important;
  border-color: var(--tb-background-color-medium) !important;
}

.tb__snfw090 .tb__snfw091 {
  cursor: pointer !important;
}

.tb__snfw091:where([data-tb-focussed]) {
  background-color: var(--tb-accent-color-light) !important;
}

:where([data-tb-focus-mode=prominent]) .tb__snfw091:where([data-tb-focussed]) {
  border-color: var(--tb-accent-color-dark) !important;
}

/* vanilla-extract-css-ns:src/components/emojis-list.component.css.ts.vanilla.css?source=LnRiX18xcWxmMHJ3MCB7CiAgcGFkZGluZzogMCA4cHggOHB4IDhweDsKfQoudGJfXzFxbGYwcncxIHsKICBwb3NpdGlvbjogc3RpY2t5OwogIHRvcDogMDsKICBiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS10Yi1iYWNrZ3JvdW5kLWNvbG9yLWxpZ2h0KTsKICBtYXJnaW46IDA7CiAgcGFkZGluZzogNHB4IDA7CiAgY29sb3I6IHZhcigtLXRiLXRleHQtY29sb3ItbWVkaXVtKTsKICBmb250LXNpemU6IHZhcigtLXRiLWZvbnQtc2l6ZS1zbWFsbCk7CiAgZm9udC13ZWlnaHQ6IDcwMDsKICB0ZXh0LXRyYW5zZm9ybTogY2FwaXRhbGl6ZTsKfQ== */
.tb__1qlf0rw0 {
  padding: 0 8px 8px 8px !important;
}

.tb__1qlf0rw1 {
  position: sticky !important;
  top: 0 !important;
  background-color: var(--tb-background-color-light) !important;
  margin: 0 !important;
  padding: 4px 0 !important;
  color: var(--tb-text-color-medium) !important;
  font-size: var(--tb-font-size-small) !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
}

/* vanilla-extract-css-ns:src/components/wrapper.component.css.ts.vanilla.css?source=LnRiX19kZTBpdWswIHsKICBoZWlnaHQ6IDEwMCU7CiAgZGlzcGxheTogZmxleDsKICBmbGV4LWRpcmVjdGlvbjogY29sdW1uOwogIGp1c3RpZnktY29udGVudDogY2VudGVyOwogIGZvbnQtZmFtaWx5OiBpbmhlcml0Owp9Ci50Yl9fZGUwaXVrMSB7CiAgaGVpZ2h0OiAzMDBweDsKICBvdmVyZmxvdy14OiBoaWRkZW47CiAgb3ZlcmZsb3cteTogYXV0bzsKICBmb250LWZhbWlseTogaW5oZXJpdDsKfQ== */
.tb__de0iuk0 {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  font-family: inherit !important;
}

.tb__de0iuk1 {
  height: 300px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  font-family: inherit !important;
}

/* vanilla-extract-css-ns:src/components/emoji-search.component.css.ts.vanilla.css?source=LnRiX18xZHhrOXVxMCB7CiAgaGVpZ2h0OiAxMDAlOwogIHBhZGRpbmc6IDRweDsKICBvdmVyZmxvdy15OiBhdXRvOwp9Ci50Yl9fMWR4azl1cTEgewogIG1hcmdpbjogMDsKICBtYXJnaW4tdG9wOiA0cHg7CiAgcGFkZGluZy1ib3R0b206IDRweDsKICBjb2xvcjogdmFyKC0tdGItdGV4dC1jb2xvci1tZWRpdW0pOwogIGZvbnQtc2l6ZTogdmFyKC0tdGItZm9udC1zaXplLXNtYWxsKTsKICBmb250LXdlaWdodDogNzAwOwogIHRleHQtdHJhbnNmb3JtOiBjYXBpdGFsaXplOwp9 */
.tb__1dxk9uq0 {
  height: 100% !important;
  padding: 4px !important;
  overflow-y: auto !important;
}

.tb__1dxk9uq1 {
  margin: 0 !important;
  margin-top: 4px !important;
  padding-bottom: 4px !important;
  color: var(--tb-text-color-medium) !important;
  font-size: var(--tb-font-size-small) !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
}

/* vanilla-extract-css-ns:src/components/caption.css.ts.vanilla.css?source=LnRiX2NhcHRpb25fMWw4ZWlzczAgewogIHBhZGRpbmc6IDRweCA4cHg7CiAgY29sb3I6IHZhcigtLXRiLXRleHQtY29sb3ItbWVkaXVtKTsKICBmb250LXNpemU6IHZhcigtLXRiLWZvbnQtc2l6ZS1zbWFsbCk7CiAgZm9udC13ZWlnaHQ6IDcwMDsKfQoudGJfY2FwdGlvbi0tcG9wdWxhdGVkXzFsOGVpc3MxIHsKICBkaXNwbGF5OiBmbGV4OwogIHdoaXRlLXNwYWNlOiBub3dyYXA7Cn0KLnRiX2NhcHRpb25fX3ByZWZpeF8xbDhlaXNzMiB7CiAgbWFyZ2luLXJpZ2h0OiA0cHg7Cn0KLnRiX2NhcHRpb25fX3Byb21wdF8xbDhlaXNzNCB7CiAgbWluLXdpZHRoOiAwOwogIG92ZXJmbG93OiBoaWRkZW47CiAgdGV4dC1vdmVyZmxvdzogZWxsaXBzaXM7Cn0= */
.tb_caption_1l8eiss0 {
  padding: 4px 8px !important;
  color: var(--tb-text-color-medium) !important;
  font-size: var(--tb-font-size-small) !important;
  font-weight: 700 !important;
}

.tb_caption--populated_1l8eiss1 {
  display: flex !important;
  white-space: nowrap !important;
}

.tb_caption__prefix_1l8eiss2 {
  margin-right: 4px !important;
}

.tb_caption__prompt_1l8eiss4 {
  min-width: 0 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

/* vanilla-extract-css-ns:src/components/view.component.css.ts.vanilla.css?source=#H4sIAAAAAAAAE6WU227bMAyG7/MUvBnQXGhw1q7t1Ju9SUBbtM1FB0OSc9jQdx8sK45b9xCgN3FMk/zJTxR/7+hUezQUIJbb7Z/ycLzzBfxbARTf0gMgerShdt5I8C5ipJtCUbN+WgE8rwA2xQeet/cz3+fV91huDx67jnzW2qTQlrhpo0y5Bl/FodN4klBrOg6G4SkUe6oiOyuhcro3Nn1xNooaDeuTBLYteY5Pr6S2FXZDXNb8kTQ7VIptI+GuO8Jjl2Qqp52XsEd/I0QsRaRjFMkoDCnuzXqSDPyXZp6TTQSDWl/8Drm1h6JYluVsJBtzWbdfReH25GvtDhJaVorsJ3p3Sc+gb9hKKEYGryJantx/JvdFOai5sYIjmSChIhvJP83pZrINdtP/Eqtd411v1QzgxZiB64HD+pNTuTiVzivyIrpOwqY7QnCa1Sz9+DlFrRdtsu36c5/3qc8Dq9hKwD66CXrjB7abRbSn0Otz+MNb4QaPIpvO55oBCU11nMi8lDk3dU1DEwCPivsgF46jfT7G1x3DLOC623FoOZIIHVYkofSEu/ElfMzt8e3xSkSGCAnD72Xi8ixLKDGQZkuL9NqhmvbMr9mwj0OSkWdT6WJ0ZrJeO+Yvrvj9cMU/xKTQ75bTlwvdcjWtKJyX68f0uTS0bHC8+vOVvQkwUEAPbGu2HJdAWhfFjk5C1OzDmXv5HpgvXahJSnHAUpPKalVScx1WHE8Siu8P6S44HoAK2pONQYJ1bxznlDL0VUUh5IxqXObXZGC758ClJhH60vCZAL3Yu8U7m/Q/GikvzioHAAA= */
@keyframes tb__jbwx4r0 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.tb_wrapper_jbwx4r1 {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  font-family: inherit !important;
}

.tb_wrapper__caption_jbwx4r2 {
  padding: 4px 8px !important;
  color: var(--tb-text-color-medium) !important;
  font-size: var(--tb-font-size-small) !important;
  font-weight: 700 !important;
}

.tb_wrapper__content_jbwx4r3 {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  overflow: hidden !important;
}

.tb_wrapper__content_jbwx4r4 {
  margin: 0 8px !important;
}

.tb_wrapper__hint_jbwx4r5 {
  display: flex !important;
  align-items: center !important;
  padding: 8px !important;
  gap: 8px !important;
  background: var(--tb-background-color-light) !important;
  color: var(--tb-text-color-light) !important;
  border-top: 1px solid var(--tb-border-color) !important;
}

.tb_wrapper__input_jbwx4r6 {
  width: auto !important;
  flex-grow: 1 !important;
}

.tb_wrapper__result_jbwx4r7 {
  width: auto !important;
  max-width: 100% !important;
  padding-left: 8px !important;
  flex-grow: 1 !important;
  border: 1px solid var(--tb-border-color) !important;
  border-radius: var(--tb-border-radius-medium) !important;
  background: var(--tb-background-color-medium) !important;
  color: var(--tb-text-color-medium) !important;
  white-space: break-spaces !important;
}

.tb_wrapper__result_jbwx4r8 {
  display: flex !important;
  flex-wrap: wrap !important;
  align-content: baseline !important;
}

.tb_wrapper__loader_jbwx4r9 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  display: flex !important;
  align-items: center !important;
  font-weight: 600 !important;
  color: var(--tb-text-color-dark) !important;
}

.tb_wrapper__loader__icon_jbwx4ra {
  margin-right: 8px !important;
  animation: tb__jbwx4r0 1s linear infinite !important;
}

.tb_wrapper__hot-key--first_jbwx4rb {
  margin-top: 8px !important;
  border-top: 1px solid var(--tb-border-color) !important;
}

.tb_wrapper__hot-key--disabled_jbwx4rc {
  opacity: 0.7 !important;
  pointer-events: none !important;
}

.tb_wrapper__hot-key--success_jbwx4rd {
  pointer-events: none !important;
}

.tb_wrapper__invisible-submit_jbwx4re {
  height: 0 !important;
  overflow: hidden !important;
}

/* vanilla-extract-css-ns:src/components/wrapper.component.css.ts.vanilla.css?source=#H4sIAAAAAAAAE9WW2W7bMBBF3/0VgwAF6gcGsmOnBY0C/Y8iMChxZE0ikQI58tIi/16IEl0pcZwFaYO+2B7KIu89s0jf7/CQO1WhB07X69n17UGliwX8mgCwDV8Aqd0LXyhtdxLIeGRY1ntI4Cqp97BV7rMQnIpUZXcbZxujRWZL60SFmppqupoA3E/uJ5ecrjdUF4d4ShK21+TrUh0k5CXu2/8WSJuCJcyS5FMb3zaeKT+IzBpGwxIyNIyuvdTeIjQ5zJiskZDZsqlMe6VWWpPZCLa1hEW9H66VmLOEr+NF1x3ar+bWsMhVReWhtVygI16NPKxL8ix2TtXRzizYqZTbkBGpZbbV8Wi7RZeXdif2EgrSGs1o9SBBNWxXp3CclvIH0zPqhKidzdB7MpuodB6U1pZajgK3aNhLMNZgUFWrjPggIblcPuk5/Iz7XYX9dqS5kLDsshbl5cQxc6vHeOYtnrNHrImxigctO+Fdyvq7AbLGeetkNBSyaj11JeGwVEzb4KzXIbbkKaUymIzcU+s0OuGUpsbLQVUP14clHZM3TKjyNWYsnGKygz2CNTG8OH2VaylTzK3D4P7YBhcXo3pJS5vdjb2r1NuyYXxKbmiOqw5iX/99FPPTh13H9MFPQUbjXoKYvQnc42mSwLydJNfth5idHypaubuwjTJUqc7nl2VSeUDlEcjkZIgRVMnojGIczbUXYV8XtCnKlke873o8qZ5BHbCK+YhrDCPYGHdkY3REO0tOoG3JrM40bvf3MMPA25L0GYzB3nTc7m+FI6XKGd1fqU6xGGNcPMC4GGFcPMA4P4XxJRXagZwdQbJTxtfKhSl2P5G7Ah1+fnkDF63BKby59I5Jmv3r44fJ7YGFChpwVFn7RH740H+9zB9asWo3zG3WeI/65sOIvZeU19KLbfkeij8262M9orIav13UzlZk0PDFzRT+l5w8Ggyif9PpXl5+A5GwIlFCCwAA */
@keyframes tb__16jyab44 {
  to {
    box-shadow: inset 5px 0 30px var(--tb-background-color-medium) !important;
  }
}
.tb_giphy_16jyab40 {
  display: flex !important;
  height: 100% !important;
  justify-content: center !important;
  flex-direction: column !important;
  padding-top: 4px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  font-family: inherit !important;
}

.tb_giphy__list-wrap_16jyab41 {
  margin-bottom: 4px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  display: flex !important;
  font-family: inherit !important;
  height: inherit !important;
}

.tb_giphy__list-wrap--processing_16jyab42 {
  pointer-events: none !important;
  opacity: 0.5 !important;
}

.tb_giphy__list-wrap__list_16jyab43 {
  width: 50% !important;
  height: fit-content !important;
  margin-bottom: 2px !important;
}

.tb_giphy__list-wrap__list__item_16jyab45 {
  padding: 2px !important;
  cursor: pointer !important;
  position: relative !important;
  content-visibility: auto !important;
  border-radius: var(--tb-border-radius-medium) !important;
  overflow: hidden !important;
  aspect-ratio: var(--tb-giphy-aspect-ratio) !important;
}

.tb_giphy__list-wrap__list__item_16jyab45::before {
  content: "" !important;
  display: block !important;
  position: absolute !important;
  overflow: hidden !important;
  top: 3px !important;
  right: 3px !important;
  bottom: 3px !important;
  left: 3px !important;
  z-index: -1 !important;
  border-radius: var(--tb-border-radius-medium) !important;
  box-shadow: inset 0 20px 60px -10px var(--tb-background-color-dark) !important;
  animation: 750ms ease infinite alternate tb__16jyab44 !important;
}

.tb_giphy__list-wrap__list__item__highlight_16jyab46 {
  display: block !important;
  position: absolute !important;
  top: -2px !important;
  right: -2px !important;
  bottom: -2px !important;
  left: -2px !important;
  z-index: 10 !important;
  border-radius: 10px !important;
  pointer-events: none !important;
  border: 8px solid var(--tb-background-color-light) !important;
  opacity: 0 !important;
}

.tb_giphy__list-wrap__list__item__highlight_16jyab46::after {
  content: "" !important;
  display: block !important;
  position: absolute !important;
  overflow: hidden !important;
  top: -4px !important;
  right: -4px !important;
  bottom: -4px !important;
  left: -4px !important;
  z-index: 20 !important;
  border-radius: var(--tb-border-radius-medium) !important;
  border: 1px solid transparent !important;
}

:where(.tb_giphy__list-wrap__list__item_16jyab45:hover) .tb_giphy__list-wrap__list__item__highlight_16jyab46 {
  opacity: 1 !important;
}

:where(.tb_giphy__list-wrap__list__item_16jyab45:hover) .tb_giphy__list-wrap__list__item__highlight_16jyab46::after {
  border-color: var(--tb-accent-color-medium) !important;
}

:where(.tb_giphy__list-wrap__list__item_16jyab45[data-tb-focussed]) .tb_giphy__list-wrap__list__item__highlight_16jyab46 {
  opacity: 1 !important;
}

:where(.tb_giphy__list-wrap__list__item_16jyab45[data-tb-focussed]) .tb_giphy__list-wrap__list__item__highlight_16jyab46::after {
  border-color: var(--tb-accent-color-light) !important;
}

:where(.tb_giphy__list-wrap__list__item_16jyab45[data-tb-focussed]:hover) .tb_giphy__list-wrap__list__item__highlight_16jyab46::after {
  border-color: var(--tb-accent-color-medium) !important;
}

:where([data-tb-focus-mode=prominent]) :where(.tb_giphy__list-wrap__list__item_16jyab45[data-tb-focussed]) .tb_giphy__list-wrap__list__item__highlight_16jyab46::after {
  border-color: var(--tb-accent-color-medium) !important;
  border-width: 2px !important;
}

/* vanilla-extract-css-ns:src/components/heading.component.css.ts.vanilla.css?source=LnRiX2dpcGh5X19oZWFkaW5nXzFycWRtYXcwIHsKICBkaXNwbGF5OiBmbGV4OwogIG1hcmdpbi10b3A6IDRweDsKICBwYWRkaW5nLWJvdHRvbTogOHB4OwogIGFsaWduLWl0ZW1zOiBjZW50ZXI7CiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuOwogIGZvbnQtZmFtaWx5OiBpbmhlcml0Owp9Ci50Yl9naXBoeV9faGVhZGluZ19faW5uZXJfMXJxZG1hdzEgewogIGRpc3BsYXk6IGZsZXg7CiAgZ2FwOiAycHg7CiAgb3ZlcmZsb3c6IGhpZGRlbjsKICBhbGlnbi1pdGVtczogY2VudGVyOwp9Ci50Yl9naXBoeV9faGVhZGluZ19fY2FwdGlvbl8xcnFkbWF3MiB7CiAgY29sb3I6IHZhcigtLXRiLXRleHQtY29sb3ItbWVkaXVtKTsKICBmb250LXNpemU6IHZhcigtLXRiLWZvbnQtc2l6ZS1zbWFsbCk7CiAgZm9udC13ZWlnaHQ6IDcwMDsKICB0ZXh0LXRyYW5zZm9ybTogY2FwaXRhbGl6ZTsKICB3aGl0ZS1zcGFjZTogbm93cmFwOwogIG92ZXJmbG93OiBoaWRkZW47CiAgdGV4dC1vdmVyZmxvdzogZWxsaXBzaXM7Cn0KLnRiX2dpcGh5X19oZWFkaW5nX19hdHRyaWJ1dGlvbl8xcnFkbWF3MyB7CiAgZGlzcGxheTogaW5saW5lLWZsZXg7CiAganVzdGlmeS1jb250ZW50OiBmbGV4LWVuZDsKICBhbGlnbi1pdGVtczogY2VudGVyOwogIHVzZXItc2VsZWN0OiBub25lOwp9 */
.tb_giphy__heading_1rqdmaw0 {
  display: flex !important;
  margin-top: 4px !important;
  padding-bottom: 8px !important;
  align-items: center !important;
  justify-content: space-between !important;
  font-family: inherit !important;
}

.tb_giphy__heading__inner_1rqdmaw1 {
  display: flex !important;
  gap: 2px !important;
  overflow: hidden !important;
  align-items: center !important;
}

.tb_giphy__heading__caption_1rqdmaw2 {
  color: var(--tb-text-color-medium) !important;
  font-size: var(--tb-font-size-small) !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.tb_giphy__heading__attribution_1rqdmaw3 {
  display: inline-flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
  user-select: none !important;
}

/* vanilla-extract-css-ns:src/components/paraphrase-list.component.css.ts.vanilla.css?source=LnRiX3BhcmFwaHJhc2Utc3VnZ2VzdGlvbnMtbGlzdF8xcG13Y3JiMCB7CiAgZGlzcGxheTogZmxleDsKICBoZWlnaHQ6IDEwMCU7CiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjsKICBmb250LWZhbWlseTogaW5oZXJpdDsKfQoudGJfcGFyYXBocmFzZS1zdWdnZXN0aW9ucy1saXN0X19oZWFkaW5nXzFwbXdjcmIxIHsKICBwYWRkaW5nOiA0cHggOHB4OwogIGNvbG9yOiB2YXIoLS10Yi10ZXh0LWNvbG9yLW1lZGl1bSk7CiAgZm9udC1zaXplOiB2YXIoLS10Yi1mb250LXNpemUtc21hbGwpOwogIGZvbnQtd2VpZ2h0OiA3MDA7Cn0KLnRiX3BhcmFwaHJhc2Utc3VnZ2VzdGlvbnMtbGlzdF9faGVhZGluZy0tc2VudGVuY2VfMXBtd2NyYjIgewogIHRleHQtdHJhbnNmb3JtOiBjYXBpdGFsaXplOwp9Ci50Yl9wYXJhcGhyYXNlLXN1Z2dlc3Rpb25zLWxpc3RfX2l0ZW1fMXBtd2NyYjMgewogIGRpc3BsYXk6IGJsb2NrOwogIG92ZXJmbG93LXg6IGhpZGRlbjsKICBvdmVyZmxvdy15OiBhdXRvOwp9Ci50Yl9wYXJhcGhyYXNlLXN1Z2dlc3Rpb25fMXBtd2NyYjQgewogIGFsaWduLWl0ZW1zOiBmbGV4LXN0YXJ0OwogIHBhZGRpbmctdG9wOiA4cHg7Cn0= */
.tb_paraphrase-suggestions-list_1pmwcrb0 {
  display: flex !important;
  height: 100% !important;
  flex-direction: column !important;
  font-family: inherit !important;
}

.tb_paraphrase-suggestions-list__heading_1pmwcrb1 {
  padding: 4px 8px !important;
  color: var(--tb-text-color-medium) !important;
  font-size: var(--tb-font-size-small) !important;
  font-weight: 700 !important;
}

.tb_paraphrase-suggestions-list__heading--sentence_1pmwcrb2 {
  text-transform: capitalize !important;
}

.tb_paraphrase-suggestions-list__item_1pmwcrb3 {
  display: block !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.tb_paraphrase-suggestion_1pmwcrb4 {
  align-items: flex-start !important;
  padding-top: 8px !important;
}

/* vanilla-extract-css-ns:src/components/phrase-suggestion.component.css.ts.vanilla.css?source=LnRiX3BocmFzZS1zdWdnZXN0aW9uX19pY29uXzhqNHc0NjAgewogIGNvbG9yOiBjdXJyZW50Q29sb3I7Cn0KLnRiX3BocmFzZS1zdWdnZXN0aW9uX19pdGVtXzhqNHc0NjEgewogIGZvbnQtc2l6ZTogdmFyKC0tdGItZm9udC1zaXplLWxhcmdlKTsKICBmb250LXdlaWdodDogNDAwOwogIGxpbmUtaGVpZ2h0OiBjYWxjKDIwIC8gdmFyKC0tdGItZm9udC1zaXplLXZhbHVlLWxhcmdlKSk7Cn0= */
.tb_phrase-suggestion__icon_8j4w460 {
  color: currentColor !important;
}

.tb_phrase-suggestion__item_8j4w461 {
  font-size: var(--tb-font-size-large) !important;
  font-weight: 400 !important;
  line-height: calc(20 / var(--tb-font-size-value-large)) !important;
}

/* vanilla-extract-css-ns:src/components/sentence-suggestion.component.css.ts.vanilla.css?source=LnRiX3NlbnRlbmNlLXN1Z2dlc3Rpb25fX2l0ZW1fMWEyanBzZzAgewogIGNvbG9yOiB2YXIoLS10Yi10ZXh0LWNvbG9yLWRhcmspOwogIGZvbnQtc2l6ZTogdmFyKC0tdGItZm9udC1zaXplLW1lZGl1bSk7CiAgZm9udC13ZWlnaHQ6IDQwMDsKICBsaW5lLWhlaWdodDogY2FsYygyMCAvIHZhcigtLXRiLWZvbnQtc2l6ZS12YWx1ZS1tZWRpdW0pKTsKICBmbGV4OiAxOwp9Ci50Yl9zZW50ZW5jZS1zdWdnZXN0aW9uX19pY29uXzFhMmpwc2cxIHsKICBjb2xvcjogdmFyKC0tdGItdGV4dC1jb2xvci1tZWRpdW0pOwp9Cjp3aGVyZSgudGJfcGFyYXBocmFzZS1zdWdnZXN0aW9uXzFwbXdjcmI0OmhvdmVyKSAudGJfc2VudGVuY2Utc3VnZ2VzdGlvbl9faWNvbl8xYTJqcHNnMSB7CiAgY29sb3I6IHZhcigtLXRiLWFjY2VudC1jb2xvci1kYXJrKTsKfQo6d2hlcmUoW2RhdGEtdGItZm9jdXMtbW9kZT0icHJvbWluZW50Il0pIDp3aGVyZSgudGJfcGFyYXBocmFzZS1zdWdnZXN0aW9uXzFwbXdjcmI0W2RhdGEtdGItZm9jdXNzZWRdKSAudGJfc2VudGVuY2Utc3VnZ2VzdGlvbl9faWNvbl8xYTJqcHNnMSB7CiAgY29sb3I6IHZhcigtLXRiLWFjY2VudC1jb2xvci1kYXJrKTsKfQoudGJfc2VudGVuY2Utc3VnZ2VzdGlvbl9fZGlmZi0tYWRkZWRfMWEyanBzZzIgewogIGZvbnQtd2VpZ2h0OiA2MDA7Cn0KLnRiX3NlbnRlbmNlLXN1Z2dlc3Rpb25fX2RpZmYtLXJlbW92ZWRfMWEyanBzZzMgewogIGRpc3BsYXk6IG5vbmU7Cn0= */
.tb_sentence-suggestion__item_1a2jpsg0 {
  color: var(--tb-text-color-dark) !important;
  font-size: var(--tb-font-size-medium) !important;
  font-weight: 400 !important;
  line-height: calc(20 / var(--tb-font-size-value-medium)) !important;
  flex: 1 !important;
}

.tb_sentence-suggestion__icon_1a2jpsg1 {
  color: var(--tb-text-color-medium) !important;
}

:where(.tb_paraphrase-suggestion_1pmwcrb4:hover) .tb_sentence-suggestion__icon_1a2jpsg1 {
  color: var(--tb-accent-color-dark) !important;
}

:where([data-tb-focus-mode=prominent]) :where(.tb_paraphrase-suggestion_1pmwcrb4[data-tb-focussed]) .tb_sentence-suggestion__icon_1a2jpsg1 {
  color: var(--tb-accent-color-dark) !important;
}

.tb_sentence-suggestion__diff--added_1a2jpsg2 {
  font-weight: 600 !important;
}

.tb_sentence-suggestion__diff--removed_1a2jpsg3 {
  display: none !important;
}

/* vanilla-extract-css-ns:src/components/form.css.ts.vanilla.css?source=LnRiX2Zvcm1fMWh5OXVidjAgewogIGhlaWdodDogMTAwJTsKICBkaXNwbGF5OiBmbGV4OwogIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47CiAgb3ZlcmZsb3c6IGhpZGRlbjsKfQoudGJfZm9ybV9fY2FwdGlvbl8xaHk5dWJ2MSB7CiAgbWFyZ2luOiA0cHggOHB4IDhweCA4cHg7CiAgY29sb3I6IHZhcigtLXRiLXRleHQtY29sb3ItbWVkaXVtKTsKICBmb250LXNpemU6IHZhcigtLXRiLWZvbnQtc2l6ZS1zbWFsbCk7CiAgZm9udC13ZWlnaHQ6IDcwMDsKICB0ZXh0LXRyYW5zZm9ybTogY2FwaXRhbGl6ZTsKfQoudGJfZm9ybV9faW5wdXRfMWh5OXVidjIgewogIHBhZGRpbmc6IDRweCAwIDRweCA4cHg7CiAgbWFyZ2luOiA4cHg7CiAgYm9yZGVyOiAxcHggc29saWQgdmFyKC0tdGItYm9yZGVyLWNvbG9yKTsKICBib3JkZXItcmFkaXVzOiB2YXIoLS10Yi1ib3JkZXItcmFkaXVzLWxhcmdlKTsKICBmbGV4LWdyb3c6IDA7Cn0KLnRiX2Zha2UtaW5wdXRfMWh5OXVidjMgewogIHdpZHRoOiBhdXRvOwp9Ci50Yl9mb3JtX19pbnB1dC0tbXVsdGlsaW5lXzFoeTl1YnY0IHsKICBtaW4taGVpZ2h0OiAwOwogIGRpc3BsYXk6IGZsZXg7CiAgZmxleC1ncm93OiAxOwp9Ci50Yl9mb3JtX19pbnB1dF9fdGV4dGZpZWxkLS1tdWx0aWxpbmVfMWh5OXVidjUgewogIGRpc3BsYXk6IGZsZXg7CiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjsKICBmbGV4LWdyb3c6IDE7Cn0KLnRiX2Zvcm1fX2lucHV0X190aXRsZV8xaHk5dWJ2NiB7CiAgcGFkZGluZy1yaWdodDogOHB4OwogIGZvbnQtd2VpZ2h0OiA2MDA7Cn0KLnRiX2Zvcm1fX2ZlZWRiYWNrXzFoeTl1YnY3IHsKICBkaXNwbGF5OiBibG9jazsKICBtYXJnaW46IC02cHggMTJweCA4cHggMTJweDsKICBjb2xvcjogI2QwMTk0MTsKICBmb250LXNpemU6IHZhcigtLXRiLWZvbnQtc2l6ZS1zbWFsbCk7Cn0= */
.tb_form_1hy9ubv0 {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  overflow: hidden !important;
}

.tb_form__caption_1hy9ubv1 {
  margin: 4px 8px 8px 8px !important;
  color: var(--tb-text-color-medium) !important;
  font-size: var(--tb-font-size-small) !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
}

.tb_form__input_1hy9ubv2 {
  padding: 4px 0 4px 8px !important;
  margin: 8px !important;
  border: 1px solid var(--tb-border-color) !important;
  border-radius: var(--tb-border-radius-large) !important;
  flex-grow: 0 !important;
}

.tb_fake-input_1hy9ubv3 {
  width: auto !important;
}

.tb_form__input--multiline_1hy9ubv4 {
  min-height: 0 !important;
  display: flex !important;
  flex-grow: 1 !important;
}

.tb_form__input__textfield--multiline_1hy9ubv5 {
  display: flex !important;
  flex-direction: column !important;
  flex-grow: 1 !important;
}

.tb_form__input__title_1hy9ubv6 {
  padding-right: 8px !important;
  font-weight: 600 !important;
}

.tb_form__feedback_1hy9ubv7 {
  display: block !important;
  margin: -6px 12px 8px 12px !important;
  color: #d01941 !important;
  font-size: var(--tb-font-size-small) !important;
}

/* vanilla-extract-css-ns:src/views/edit.css.ts.vanilla.css?source=LnRiX2RlbGV0ZS1idG5fM2dvOWx3MCB7CiAgcGFkZGluZy10b3A6IDA7Cn0KLnRiX2RlbGV0ZS1idG5fM2dvOWx3MDpob3ZlciB7CiAgYmFja2dyb3VuZC1jb2xvcjogdmFyKC0tdGItYmFja2dyb3VuZC1jb2xvci1saWdodCk7Cn0= */
.tb_delete-btn_3go9lw0 {
  padding-top: 0 !important;
}

.tb_delete-btn_3go9lw0:hover {
  background-color: var(--tb-background-color-light) !important;
}

/* vanilla-extract-css-ns:src/components/empty.css.ts.vanilla.css?source=LnRiX2VtcHR5XzE4ODJkdmwwIHsKICBkaXNwbGF5OiBmbGV4OwogIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47CiAgd2lkdGg6IDEwMCU7CiAgaGVpZ2h0OiAxMDAlOwp9Ci50Yl9lbXB0eV9fY2FwdGlvbl8xODgyZHZsMSB7CiAgbWFyZ2luOiA0cHggOHB4IDhweCA4cHg7CiAgY29sb3I6IHZhcigtLXRiLXRleHQtY29sb3ItbWVkaXVtKTsKICBmb250LXNpemU6IHZhcigtLXRiLWZvbnQtc2l6ZS1zbWFsbCk7CiAgZm9udC13ZWlnaHQ6IDcwMDsKICB0ZXh0LXRyYW5zZm9ybTogY2FwaXRhbGl6ZTsKfQoudGJfZW1wdHlfX3R5cG9ncmFwaHlfMTg4MmR2bDIgewogIGZvbnQtc2l6ZTogdmFyKC0tdGItZm9udC1zaXplLWxhcmdlKTsKICBsaW5lLWhlaWdodDogY2FsYygyNCAvIHZhcigtLXRiLWZvbnQtc2l6ZS12YWx1ZS1sYXJnZSkpOwp9Ci50Yl9lbXB0eV9fY29udGVudF8xODgyZHZsMyB7CiAgbWFyZ2luOiA4cHg7CiAgZmxleC1ncm93OiAxOwogIGFsaWduLWNvbnRlbnQ6IGNlbnRlcjsKICB0ZXh0LWFsaWduOiBjZW50ZXI7Cn0KLnRiX2VtcHR5X19oZWFkaW5nXzE4ODJkdmw0IHsKICBjb2xvcjogdmFyKC0tdGItdGV4dC1jb2xvci1kYXJrKTsKICBmb250LXdlaWdodDogNzAwOwp9Ci50Yl9lbXB0eV9fdGV4dF8xODgyZHZsNSB7CiAgY29sb3I6IHZhcigtLXRiLXRleHQtY29sb3ItbWVkaXVtKTsKfQoudGJfZW1wdHlfX3RleHRfX2VudGVyXzE4ODJkdmw2IHsKICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlOwogIGZvbnQtd2VpZ2h0OiA2MDA7Cn0= */
.tb_empty_1882dvl0 {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  height: 100% !important;
}

.tb_empty__caption_1882dvl1 {
  margin: 4px 8px 8px 8px !important;
  color: var(--tb-text-color-medium) !important;
  font-size: var(--tb-font-size-small) !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
}

.tb_empty__typography_1882dvl2 {
  font-size: var(--tb-font-size-large) !important;
  line-height: calc(24 / var(--tb-font-size-value-large)) !important;
}

.tb_empty__content_1882dvl3 {
  margin: 8px !important;
  flex-grow: 1 !important;
  align-content: center !important;
  text-align: center !important;
}

.tb_empty__heading_1882dvl4 {
  color: var(--tb-text-color-dark) !important;
  font-weight: 700 !important;
}

.tb_empty__text_1882dvl5 {
  color: var(--tb-text-color-medium) !important;
}

.tb_empty__text__enter_1882dvl6 {
  text-transform: uppercase !important;
  font-weight: 600 !important;
}

/* vanilla-extract-css-ns:src/views/list.css.ts.vanilla.css?source=#H4sIAAAAAAAAE51W227bMAx9z1cIKAo0GNQ5SZt16vP2E8MQyBZtc5UlQaJz6dB/HyzbiZ1b2+UltiIe3g4Pc0/pSmMgjgTVaoXGgF/NliX5Op+xvxPGFAan5U6wXMP2ecLit2Cz5vFPHQjzHc+sITAkWHAyA54CbQBMvGwN8Q1gUZJgD0nyPHmb3I99ZtIRWtN7nUevlfQFGu5bwycXPZcdzvyhfbdr8Lm2G8FKVKp1WAfwPICGjAQz1sAZj1qmoHt/i6E/DXkTZwufWW29YGvp7zinlMssA0M8HnMl/cv0JMNlkyFjBFvi5KUJufWVYLVz4DMZ3g9GQOVoNy78MIsKTM3JFoWG3uYh3nZSKTSFYLOjWiXte2q9Ah9/ZsFqVIe8Upm9FN7WRh3n1hpxLxXWYVCJ0TmvQGFddQZbHvA1BtKRgqc2BrDGgClqpN2hXZdzEmXT3JhZ5+xqN4YhHGXzAZPu3k2e501MYlOCh7txn7rAkjawKbvajGGu8VnDu8C/lCTZRJnbrA4B1O//cXKxXJGSbea6Ycb0XPVXmB0G8fHEC5oSPNLIsim38tb1VsuWjTZgM9SCyTRYXVMMDU0AEiyOyCtHo6KQJAdVaBB7oG9HQB60JFzDkNxjw7F6PbVzjYZvUFEp2KwfhfPB+T3kVQ6dDEtfzY78pVSNICVuy5ZuG8eP8YXbspskfhaLjw+Wlr6A6SWl21dwnrSqY53MYp/OlYVzOjTpezdYRLYSLJM6u5slyS37whZLt52OwGZnwVrbHk9GPLIutvP2qv2A8+n5BbOXsqQXfqmxMHFcgmDNDIP/xPoJ+AqDGu/PhhKg0QDvaRULspizr+eM1lLXe9PpuT0xGLW9kma1D80lZ7GPflMiAY8hNxq/8dJdWGCMxV3SkfaYgU3/q8BABuBouK3pSsWHuvoJku8rdQzMOSikHj4bwH9MfE/xFGigvdSpIdbNj5/zp8djdrd/XAbCBacbPfLo7R+pDuQb7QgAAA== */
.tb_list-item__inner_16htruf1 {
  display: flex !important;
  flex: 1 !important;
  justify-content: space-between !important;
  font-weight: 400 !important;
}

.tb_list-item__caption_16htruf2 {
  margin-right: 8px !important;
  height: 24px !important;
  overflow: hidden !important;
  user-select: none !important;
}

.tb_list-item__label_16htruf3 {
  margin-left: 4px !important;
  color: var(--tb-accent-color-dark) !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}

.tb_list-item__label_16htruf3:empty {
  display: none !important;
}

.tb_menu-toggle_16htruf4 {
  padding: 1px !important;
  height: 20px !important;
  border: 1px solid var(--tb-background-color-dark) !important;
  border-radius: var(--tb-border-radius-medium) !important;
  box-sizing: content-box !important;
  visibility: hidden !important;
}

.tb_menu-toggle_16htruf4:hover {
  border-color: var(--tb-accent-color-medium) !important;
  background-color: var(--tb-accent-color-medium) !important;
  color: #fff !important;
}

:where(.tb_list-item_16htruf0:hover) .tb_menu-toggle_16htruf4 {
  visibility: visible !important;
}

:where(.tb_list-item_16htruf0[data-tb-focussed]) .tb_menu-toggle_16htruf4 {
  visibility: visible !important;
  border-color: var(--tb-text-color-light) !important;
}

.tb_menu-toggle__icon_16htruf5 {
  visibility: inherit !important;
}

.tb_menu-backdrop_16htruf6 {
  position: absolute !important;
  inset: 0 !important;
  z-index: 1000 !important;
}

.tb_menu_16htruf7 {
  position: relative !important;
  height: 0 !important;
}

.tb_menu__inner_16htruf8 {
  min-width: 120px !important;
  position: absolute !important;
  right: 0 !important;
  background-color: var(--tb-background-color-light) !important;
  box-shadow: 0px 6px 20px -3px rgba(0, 0, 0, 0.2) !important;
  border-radius: var(--tb-border-radius-large) !important;
  overflow: hidden !important;
  z-index: 2000 !important;
  opacity: 0 !important;
}

.tb_menu__inner--top_16htruf9 {
  bottom: calc(100% + 36px) !important;
  opacity: 1 !important;
}

.tb_menu__inner--bottom_16htrufa {
  top: 100% !important;
  opacity: 1 !important;
}

.tb_menu__item_16htrufb {
  display: flex !important;
  padding: 0 8px !important;
  align-items: center !important;
  justify-content: space-between !important;
  font-size: var(--tb-font-size-medium) !important;
  line-height: calc(32 / var(--tb-font-size-value-medium)) !important;
  color: var(--tb-text-color-dark) !important;
  cursor: pointer !important;
  white-space: nowrap !important;
  user-select: none !important;
  transition: background-color 200ms ease-in-out !important;
}

.tb_menu__item_16htrufb:hover {
  background-color: var(--tb-background-color-medium) !important;
}

.tb_menu__item--edit_16htrufc:hover {
  color: var(--tb-accent-color-medium) !important;
}

.tb_menu__item--delete_16htrufd {
  color: #EF2850 !important;
}

.tb_menu__item__icon_16htrufe {
  margin-left: 8px !important;
}

/* vanilla-extract-css-ns:src/components/wrapper.css.ts.vanilla.css?source=LnRiX3dyYXBwZXJfd21wMXJsMCB7CiAgaGVpZ2h0OiAxMDAlOwogIGRpc3BsYXk6IGZsZXg7CiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjsKICBmb250LWZhbWlseTogaW5oZXJpdDsKfQoudGJfd3JhcHBlci0tc2Nyb2xsYWJsZV93bXAxcmwxIHsKICBvdmVyZmxvdy15OiBhdXRvOwp9 */
.tb_wrapper_wmp1rl0 {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  font-family: inherit !important;
}

.tb_wrapper--scrollable_wmp1rl1 {
  overflow-y: auto !important;
}